@{
    ViewData["Title"] = "Add a Recipe";
}
<h1>@ViewData["Title"]</h1>

<form>
    <div class="form-group">
        <label for="formTitle">Title</label>
        <input id="formTitle" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="formIngredients">Ingredients</label>
        <textarea id="formIngredients" type="text" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="formInstructions">Instructions</label>
        <textarea id="formInstructions" type="text" class="form-control"></textarea>
    </div>
    <div class="custom-file">
        <input id="formImage" type="file" class="custom-file-input form-control" />
        <label for="formImage" class="custom-file-label">Add Image?</label>      
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" />   
    </div>

</form>
